
body {
    background: #fcfce9;
    font-family: Garuda, Courier New, sans-serif;
}

.section {
   margin-left: 60px;
   margin-right: 60px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 20px;
   background: #e5e4f3;
   border-radius: 10px;
}

.header {
    text-align: center;
}

.header__title {
    font-size: 64px;
}

.message_info {
    background: #a2f4b2;
    border: 5px solid #51ee6f;
}

.message_error {
    background: #ff9494;
    border: 5px solid #ec4545;
}

